<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.place %>
      </p>
      <%= link_to "by #{@post.user.name}", user_path(@post.user), class: :prototype__user %>

      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :prototype__btn %>
          <%= link_to "削除する", post_path((@post.id)), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag(@post.image) %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">時間帯</p>
          <p class="detail__message">
            <%= @post.time %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">もっと詳しく</p>
          <p class="detail__message">
            <%= @post.more %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], id: "comment_form", local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn, id: "submit"  %>
            </div>
          <% end %> 
        <% end %> 

        <ul class="comments_lists" id='comments_list'>
          <% @comments.reverse_each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
